/* importamos la fuente */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');


  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f6fafc;
}


/* SECCION I N I C I O */
.inicio {
    
    
    background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(46, 45, 45, 0.452)), url(https://i.pinimg.com/564x/92/45/50/924550f254f939c1fceaa2e6424b0b4c.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
    padding: 0 20px;
}

.inicio .contenido {
    max-width: 1100px;
    margin: auto;
    color: #fff;
}

.inicio header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.inicio .logo {
    display: flex;
    align-items: center;
    font-size: 25px;
}

#inicio header nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    font-weight: 800;
    border: 2px solid transparent;
}

#inicio header nav a:hover {
    border-bottom: 2px solid;
}

.inicio .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0 10px;
}

.inicio .fila {
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}

.inicio .fila .col {
    width: 50%;
}

.inicio .fila .col h2 {
    margin-bottom: 15px;
    font-size: 40px;
}

.inicio .fila .col p {
    margin-bottom: 20px;
}

.inicio .fila .col .contenedor-img {
    max-width: 400px;
    margin: auto;
}

.inicio .fila .col .contenedor-img img {
    width: 100%;
}

.inicio .fila .col button {
    background: none;
    width: fit-content;
    padding: 5px 40px;
    border-radius: 20px     ;
    color: #fff;
    background: linear-gradient(to right, #000000, #000000);
    transition: .5s;
    cursor: pointer;
}

.inicio .fila .col button:hover {
    transform: scale(1.1);
}

#icono-nav {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    display: none;
}

#icono-nav:hover {
    background-color: #3e3e3e;
}

.sombra {
    filter: drop-shadow(0em 30px 20px #9bd2f4);
}

/* SECCION S E R V I C I O S */
.servicios {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    top: -170px;
    z-index: 10;
}

.servicios .fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.servicios .fila .col {
    text-align: center;
    width: 30%;
}

.servicios .fila .col .card {
   
   
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    position: relative;
}

.servicios .icono {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.servicios .icono .circulo {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

    .color1 {
        background: linear-gradient(#2b7cda, #30379b);
    }

    .color2 {
        background: linear-gradient(#038aee, #0039a9);
    }

    .color3 {
        background: linear-gradient(#04e2ee, #0dc5f3);
    }

.servicios h3 {
    margin-bottom: 20px;
}

.servicios .card p {
    color: #6b85ce;
    line-height: 28px;
    font-size: 17px;
    font-weight: 900;
}

.servicios .card a {
    text-decoration: none;
    color: #00ff15;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* seccion HABILIDADES */

/* Esta clase se genera dinámicamente por la librera para graficos */
.score .box canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* SECCION T R A B A J O S */
.trabajos {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.trabajos h2 {
    text-align: center;
}

.trabajos nav {
    text-align: center;
    margin: 30px 0;
}

.trabajos nav a {
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    color: #007be5;
    font-weight: bold;
    padding: 3px 10px;
    border: 3px solid transparent;
}

.trabajos nav a:hover {
    border: 0.1px solid ;
}


.trabajos .galeria .item img {
    width: 100%;
    height: 100%;
    display: block;
}





  
  
  

  


  
.trabajos .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 30px;
}

.trabajos .galeria .item {
    position: relative;
    overflow: hidden;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
}

.trabajos .galeria .item .info {
    position: absolute;
    top: -100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: .3s;
}

.trabajos .galeria .item .info h3 {
    color: #000;
    margin-bottom: 20px;
}

.trabajos .galeria .item .info span {
    color: #000000;
    display: inline-block;
    
    margin: 0 3px;
    padding: 0 5px;
}

.trabajos .galeria .item .info a {
    display: block;
    margin: 20px;
    text-decoration: none;
    font-weight: bold;
}

.trabajos .galeria .item:hover .info {
    opacity: 1;
    top: 0;
}





#skills {
    padding: 50px;
    text-align: center;
    margin-bottom: 59px;
  }
  
  #skills h2 {
    margin-bottom: 40px;
  }
  
  .skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  i.fab.fa-python {
    color: rgb(59, 170, 221);
  }
  i.fab.fa-js {
    color: rgb(239, 241, 103);
  }
  i.fab.fa-html5 {
    color: rgb(255, 60, 0);
  }
  .skill {
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    animation: moveUpDown 1.5s ease-in-out infinite;
    animation-play-state: paused; /* Pausamos la animación por defecto */
    transition: transform 0.3s ease-in-out;

  }
  
  
  .skill:hover {
    transform: translateY(-30px);
    animation-play-state: running; /* Reanudamos la animación */
  }
  
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  
  
  
  .skill i {
    font-size: 40px;
    margin-bottom: 20px;
    color: #3498db;
  }
  
  .skill h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #444;
  }
  
  .skill p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
  }
  
  @media screen and (max-width: 768px) {
    .skill {
      width: 80%;
    }
  }
  
  

  






/* SECCIÓN C O N T A C T O */


.contact-section {
    color: white;
    margin-top: 100px;
    padding: 80px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.589), rgba(46, 45, 45, 0.7)), url(https://th.bing.com/th/id/R.6f88fa831c3518059cb8a0c86093694e?rik=ToVOtK6Twlc6eA&riu=http%3a%2f%2fwww.redusers.com%2fnoticias%2fwp-content%2fuploads%2f2012%2f02%2fmaps-buenos-aires.png&ehk=4Lo%2fH5irBsD2ihpJvEFerPDzCwjJiclf0ZSB6veZuVI%3d&risl=&pid=ImgRaw&r=0);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-section .container {
    max-width: 800px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info-item {
    flex: 0 0 33.33%;
    max-width: 300px;
    margin: 0 20px;
    text-align: center;
}

.contact-info-item i {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info-item p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

@media (max-width: 767px) {
    .contact-info-item {
        flex: 0 0 100%;
        max-width: none;
        margin: 20px 0;
    }
}










footer {
    background-color: #000;
    color: #fff;
    padding: 7px 0;
    font-size: 14px;
    text-align: center;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:1180px) {
    .inicio {
        clip-path: none;
    }
}

@media screen and (max-width:800px) {
    .redes {
        display: none;
    }

    #nav {
        display: none;
    }

    #nav.responsive {
        background-color: rgba(0, 0, 0, .9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }

    #nav.responsive a {
        font-size: 30px;
    }

    #icono-nav {
        display: block;
    }

    .inicio {
        height: auto;
    }

    .inicio .fila {
        display: block;
    }

    .inicio .fila .col {
        width: 100%;
        text-align: center;
    }

    .inicio .fila .col h2 {
        margin-top: 20px;
    }

    .inicio .fila .col .contenedor-img {
        width: 50%;
        margin-top: 30px;
    }

    .servicios {
        position: static;
        padding: 20px;
    }

    .servicios .fila {
        display: block;
        margin-bottom: 0;
    }

    .servicios .fila .col {
        width: 70%;
        margin: auto;
    }

    .servicios .fila .col .card {
        margin-bottom: 20px;
    }

    .habilidades {
        position: static;
    }

    .trabajos nav a {
        margin: 0 5px;
    }

    .contacto .fila {
        display: block !important;
    }

    .contacto .fila .col {
        text-align: center;
        width: 100% !important;
    }

    .contacto .fila .col .info {
        float: left;
        font-size: 12px;
        width: 25%;
    }
}